<div class="noitem">add product here</div>
<div class="admin_form">
<form action="/admin/newitem" method="POST">

    <label for="fname">product name:</label> <br>
    <input type="text" id="" name="product_name"> <br>
    
    <label for="lname">product price:</label> <br>
    <input type="text" id="lname" name="product_price" > <br><br>

    <label for="lname">product description:</label> <br>
    <input type="text" id="lname" name="product_description" > <br><br>
    
    <input type="submit" value="Submit">
  </form> 
</div>