<div class="header">
      <img src="/images/logo.png" style="width: 100px; height: 40px;">
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/cart">Cart</a>
      <a href="/admin">admin</a>
    </div>
  </div>
  